.activeMenuItem {
    color: rgba(255, 255, 0, 0.945);
    padding: 3px 6px;
    border: 1px solid rgba(255, 255, 0, 0.945);
    text-decoration: none;
    border-radius: 6px;
}

.menuItem {
    text-decoration: none;
    padding: 3px 6px;
    border: transparent;
    color: #fff;
}